In [105]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [106]:
df = pd.read_csv("timestampsDatetimeA.csv", names=range(231))
df.head()

C:\Users\maxbr\AppData\Local\Temp\ipykernel_6928\240366929.py:1: DtypeWarning: Columns (206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("timestampsDatetimeA.csv", names=range(231))

,0,1,2,3,4,5,6,7,8,9,...,221,222,223,224,225,226,227,228,229,230
0,fighter,event,date,opponent,timestep-1,timestep-2,timestep-3,timestep-4,timestep-5,timestep-6,...,timestep-218,timestep-219,timestep-220,timestep-221,timestep-222,timestep-223,timestep-224,timestep-225,timestep-226,timestep-227
1,Mansur Abdul-Malik,UFC,2025-02-23,Nick Klein,2025-02-13 14:17:00 - price: -549,2025-02-13 20:33:00 - price: -549,2025-02-14 18:09:00 - price: -562,2025-02-14 18:13:00 - price: -532,2025-02-14 19:09:00 - price: -569,2025-02-14 19:11:00 - price: -569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Daichi Abe,UFC Fight Night 132: Cowboy vs. Edwards,2018-06-23,Li Jingliang,2018-06-13 12:09:00 - price: +240,2018-06-13 12:21:00 - price: +325,2018-06-13 13:42:00 - price: +315,2018-06-13 15:24:00 - price: +323,2018-06-13 16:18:00 - price: +320,2018-06-13 17:06:00 - price: +313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,John Adajar,Road to UFC 4,2022-06-10,Han Seul Kim,2022-06-07 10:00:00 - price: -120,2022-06-07 10:18:00 - price: +105,2022-06-07 22:02:00 - price: -105,2022-06-08 13:08:00 - price: +100,2022-06-08 13:26:00 - price: +115,2022-06-08 13:50:00 - price: +118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shamil Abdurakhimov,UFC 283,2023-01-21,Jailton Almeida,2023-01-06 10:00:00 - price: +600,2023-01-06 13:20:00 - price: +583,2023-01-07 19:48:00 - price: +588,2023-01-08 15:40:00 - price: +585,2023-01-08 23:16:00 - price: +593,2023-01-08 23:54:00 - price: +596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df.columns = df.iloc[0]
df = df[1:]
df.reset_index(drop=True, inplace=True)
df.head()

,fighter,event,date,opponent,timestep-1,timestep-2,timestep-3,timestep-4,timestep-5,timestep-6,...,timestep-218,timestep-219,timestep-220,timestep-221,timestep-222,timestep-223,timestep-224,timestep-225,timestep-226,timestep-227
0,Mansur Abdul-Malik,UFC,2025-02-23,Nick Klein,2025-02-13 14:17:00 - price: -549,2025-02-13 20:33:00 - price: -549,2025-02-14 18:09:00 - price: -562,2025-02-14 18:13:00 - price: -532,2025-02-14 19:09:00 - price: -569,2025-02-14 19:11:00 - price: -569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Daichi Abe,UFC Fight Night 132: Cowboy vs. Edwards,2018-06-23,Li Jingliang,2018-06-13 12:09:00 - price: +240,2018-06-13 12:21:00 - price: +325,2018-06-13 13:42:00 - price: +315,2018-06-13 15:24:00 - price: +323,2018-06-13 16:18:00 - price: +320,2018-06-13 17:06:00 - price: +313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,John Adajar,Road to UFC 4,2022-06-10,Han Seul Kim,2022-06-07 10:00:00 - price: -120,2022-06-07 10:18:00 - price: +105,2022-06-07 22:02:00 - price: -105,2022-06-08 13:08:00 - price: +100,2022-06-08 13:26:00 - price: +115,2022-06-08 13:50:00 - price: +118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Shamil Abdurakhimov,UFC 283,2023-01-21,Jailton Almeida,2023-01-06 10:00:00 - price: +600,2023-01-06 13:20:00 - price: +583,2023-01-07 19:48:00 - price: +588,2023-01-08 15:40:00 - price: +585,2023-01-08 23:16:00 - price: +593,2023-01-08 23:54:00 - price: +596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Hamdy Abdelwahab,UFC,2025-02-01,Jamal Pogues,2025-01-14 07:53:00 - price: +105,2025-01-14 12:39:00 - price: +113,2025-01-15 08:41:00 - price: +110,2025-01-16 12:13:00 - price: +111,2025-01-16 14:27:00 - price: +111,2025-01-16 15:57:00 - price: +112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df = df[:1]
df.head()

,fighter,event,date,opponent,timestep-1,timestep-2,timestep-3,timestep-4,timestep-5,timestep-6,...,timestep-218,timestep-219,timestep-220,timestep-221,timestep-222,timestep-223,timestep-224,timestep-225,timestep-226,timestep-227
0,Mansur Abdul-Malik,UFC,2025-02-23,Nick Klein,2025-02-13 14:17:00 - price: -549,2025-02-13 20:33:00 - price: -549,2025-02-14 18:09:00 - price: -562,2025-02-14 18:13:00 - price: -532,2025-02-14 19:09:00 - price: -569,2025-02-14 19:11:00 - price: -569,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
eventDate = pd.to_datetime(df.iloc[0, 2]) + timedelta(days=1)
print(eventDate)

2025-02-24 00:00:00

In [110]:
def timeInput(frame):
    eventDate = pd.to_datetime(df.iloc[0, 2]) + timedelta(days=1)
    frame = frame.iloc[:, 4:]
    dfC = frame.dropna(axis=1)
    dfC = pd.concat([dfC, dfC], ignore_index=True)
    dfC.loc[1] = dfC.loc[1].apply(
    lambda x: x.split(' - price: ')[1].strip()
    if isinstance(x, str) and 'price: ' in x else x
    )
    dfC.loc[0] = dfC.loc[0].apply(
    lambda x: x.split(' - price: ')[0].strip() 
    if isinstance(x, str) and 'price: ' in x else x
    )
    dfC.loc[0] = dfC.loc[0].apply(
    lambda x: pd.to_datetime(x)
    )

    empty_row = pd.Series([np.nan] * dfC.shape[1], index=dfC.columns)
    dfC = pd.concat([dfC.iloc[:1], empty_row.to_frame().T, dfC.iloc[1:]]).reset_index(drop=True)
    dfC = pd.concat([dfC.iloc[:1], empty_row.to_frame().T, dfC.iloc[1:]]).reset_index(drop=True)

    #populate index 1 with time since open, 2 with time until event
    timeOpen = dfC.iloc[0,0]
    dfC.loc[1] = dfC.loc[0].apply(
        lambda x: (x- timeOpen).total_seconds()
    )
    dfC.loc[2] = dfC.loc[0].apply(
        lambda x: (eventDate-x).total_seconds()
    )

    dfC = dfC.drop(index=0).reset_index(drop=True)

    return dfC

In [111]:
df = timeInput(df)
df.head()

,timestep-1,timestep-2,timestep-3,timestep-4,timestep-5,timestep-6,timestep-7,timestep-8,timestep-9,timestep-10,...,timestep-89,timestep-90,timestep-91,timestep-92,timestep-93,timestep-94,timestep-95,timestep-96,timestep-97,timestep-98
0,0.0,22560.0,100320.0,100560.0,103920.0,104040.0,198720.0,218400.0,238080.0,251040.0,...,752040.0,754080.0,757200.0,757800.0,765840.0,768960.0,784800.0,788760.0,796560.0,797160.0
1,898980.0,876420.0,798660.0,798420.0,795060.0,794940.0,700260.0,680580.0,660900.0,647940.0,...,146940.0,144900.0,141780.0,141180.0,133140.0,130020.0,114180.0,110220.0,102420.0,101820.0
2,-549,-549,-562,-532,-569,-569,-596,-608,-636,-667,...,-1245,-1261,-1245,-1261,-1245,-1279,-1310,-1270,-1205,-1223

In [89]:
empty_row = pd.Series([np.nan] * df.shape[1], index=df.columns)
df = pd.concat([df.iloc[:1], empty_row.to_frame().T, df.iloc[1:]]).reset_index(drop=True)
df = pd.concat([df.iloc[:1], empty_row.to_frame().T, df.iloc[1:]]).reset_index(drop=True)
df.head()

,timestep-1,timestep-2,timestep-3,timestep-4,timestep-5,timestep-6,timestep-7,timestep-8,timestep-9,timestep-10,...,timestep-89,timestep-90,timestep-91,timestep-92,timestep-93,timestep-94,timestep-95,timestep-96,timestep-97,timestep-98
0,2025-02-13 14:17:00,2025-02-13 20:33:00,2025-02-14 18:09:00,2025-02-14 18:13:00,2025-02-14 19:09:00,2025-02-14 19:11:00,2025-02-15 21:29:00,2025-02-16 02:57:00,2025-02-16 08:25:00,2025-02-16 12:01:00,...,2025-02-22 07:11:00,2025-02-22 07:45:00,2025-02-22 08:37:00,2025-02-22 08:47:00,2025-02-22 11:01:00,2025-02-22 11:53:00,2025-02-22 16:17:00,2025-02-22 17:23:00,2025-02-22 19:33:00,2025-02-22 19:43:00
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-549,-549,-562,-532,-569,-569,-596,-608,-636,-667,...,-1245,-1261,-1245,-1261,-1245,-1279,-1310,-1270,-1205,-1223

In [90]:
#populate index 1 with time since open, 2 with time until event, and 3 with time between steps
timeOpen = df.iloc[0,0]
timeClose = df.iloc[0, -1]
df.loc[1] = df.loc[0].apply(
    lambda x: (x- timeOpen).total_seconds()
)
df.loc[2] = df.loc[0].apply(
    lambda x: (eventDate-x).total_seconds()
)

df.head()

,timestep-1,timestep-2,timestep-3,timestep-4,timestep-5,timestep-6,timestep-7,timestep-8,timestep-9,timestep-10,...,timestep-89,timestep-90,timestep-91,timestep-92,timestep-93,timestep-94,timestep-95,timestep-96,timestep-97,timestep-98
0,2025-02-13 14:17:00,2025-02-13 20:33:00,2025-02-14 18:09:00,2025-02-14 18:13:00,2025-02-14 19:09:00,2025-02-14 19:11:00,2025-02-15 21:29:00,2025-02-16 02:57:00,2025-02-16 08:25:00,2025-02-16 12:01:00,...,2025-02-22 07:11:00,2025-02-22 07:45:00,2025-02-22 08:37:00,2025-02-22 08:47:00,2025-02-22 11:01:00,2025-02-22 11:53:00,2025-02-22 16:17:00,2025-02-22 17:23:00,2025-02-22 19:33:00,2025-02-22 19:43:00
1,0.0,22560.0,100320.0,100560.0,103920.0,104040.0,198720.0,218400.0,238080.0,251040.0,...,752040.0,754080.0,757200.0,757800.0,765840.0,768960.0,784800.0,788760.0,796560.0,797160.0
2,898980.0,876420.0,798660.0,798420.0,795060.0,794940.0,700260.0,680580.0,660900.0,647940.0,...,146940.0,144900.0,141780.0,141180.0,133140.0,130020.0,114180.0,110220.0,102420.0,101820.0
3,-549,-549,-562,-532,-569,-569,-596,-608,-636,-667,...,-1245,-1261,-1245,-1261,-1245,-1279,-1310,-1270,-1205,-1223